/*
  960 Grid System ~ Core CSS.
  Learn more ~ http://960.gs/

  Licensed under GPL and MIT.
  */

/*
  Forces backgrounds to span full width,
  even if there is horizontal scrolling.
  Increase this if your layout is wider.

  Note: IE6 works fine without this fix.
  */

  body {
    min-width: 960px;
  }

/* `Container
----------------------------------------------------------------------------------------------------*/

.container_12,
.container_16 {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

/* `Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11,
.push_12, .pull_12,
.push_13, .pull_13,
.push_14, .pull_14,
.push_15, .pull_15 {
  position: relative;
}

.container_12 .grid_3,
.container_16 .grid_4 {
  width: 220px;
}

.container_12 .grid_6,
.container_16 .grid_8 {
  width: 460px;
}

.container_12 .grid_9,
.container_16 .grid_12 {
  width: 700px;
}

.container_12 .grid_12,
.container_16 .grid_16 {
  width: 940px;
}

/* `Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

/* `Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .grid_1 {
  width: 60px;
}

.container_12 .grid_2 {
  width: 140px;
}

.container_12 .grid_4 {
  width: 300px;
}

.container_12 .grid_5 {
  width: 380px;
}

.container_12 .grid_7 {
  width: 540px;
}

.container_12 .grid_8 {
  width: 620px;
}

.container_12 .grid_10 {
  width: 780px;
}

.container_12 .grid_11 {
  width: 860px;
}

/* `Grid >> 16 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .grid_1 {
  width: 40px;
}

.container_16 .grid_2 {
  width: 100px;
}

.container_16 .grid_3 {
  width: 160px;
}

.container_16 .grid_5 {
  width: 280px;
}

.container_16 .grid_6 {
  width: 340px;
}

.container_16 .grid_7 {
  width: 400px;
}

.container_16 .grid_9 {
  width: 520px;
}

.container_16 .grid_10 {
  width: 580px;
}

.container_16 .grid_11 {
  width: 640px;
}

.container_16 .grid_13 {
  width: 760px;
}

.container_16 .grid_14 {
  width: 820px;
}

.container_16 .grid_15 {
  width: 880px;
}

/* `Prefix Extra Space >> Global
----------------------------------------------------------------------------------------------------*/

.container_12 .prefix_3,
.container_16 .prefix_4 {
  padding-left: 240px;
}

.container_12 .prefix_6,
.container_16 .prefix_8 {
  padding-left: 480px;
}

.container_12 .prefix_9,
.container_16 .prefix_12 {
  padding-left: 720px;
}

/* `Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .prefix_1 {
  padding-left: 80px;
}

.container_12 .prefix_2 {
  padding-left: 160px;
}

.container_12 .prefix_4 {
  padding-left: 320px;
}

.container_12 .prefix_5 {
  padding-left: 400px;
}

.container_12 .prefix_7 {
  padding-left: 560px;
}

.container_12 .prefix_8 {
  padding-left: 640px;
}

.container_12 .prefix_10 {
  padding-left: 800px;
}

.container_12 .prefix_11 {
  padding-left: 880px;
}

/* `Prefix Extra Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .prefix_1 {
  padding-left: 60px;
}

.container_16 .prefix_2 {
  padding-left: 120px;
}

.container_16 .prefix_3 {
  padding-left: 180px;
}

.container_16 .prefix_5 {
  padding-left: 300px;
}

.container_16 .prefix_6 {
  padding-left: 360px;
}

.container_16 .prefix_7 {
  padding-left: 420px;
}

.container_16 .prefix_9 {
  padding-left: 540px;
}

.container_16 .prefix_10 {
  padding-left: 600px;
}

.container_16 .prefix_11 {
  padding-left: 660px;
}

.container_16 .prefix_13 {
  padding-left: 780px;
}

.container_16 .prefix_14 {
  padding-left: 840px;
}

.container_16 .prefix_15 {
  padding-left: 900px;
}

/* `Suffix Extra Space >> Global
----------------------------------------------------------------------------------------------------*/

.container_12 .suffix_3,
.container_16 .suffix_4 {
  padding-right: 240px;
}

.container_12 .suffix_6,
.container_16 .suffix_8 {
  padding-right: 480px;
}

.container_12 .suffix_9,
.container_16 .suffix_12 {
  padding-right: 720px;
}

/* `Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .suffix_1 {
  padding-right: 80px;
}

.container_12 .suffix_2 {
  padding-right: 160px;
}

.container_12 .suffix_4 {
  padding-right: 320px;
}

.container_12 .suffix_5 {
  padding-right: 400px;
}

.container_12 .suffix_7 {
  padding-right: 560px;
}

.container_12 .suffix_8 {
  padding-right: 640px;
}

.container_12 .suffix_10 {
  padding-right: 800px;
}

.container_12 .suffix_11 {
  padding-right: 880px;
}

/* `Suffix Extra Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .suffix_1 {
  padding-right: 60px;
}

.container_16 .suffix_2 {
  padding-right: 120px;
}

.container_16 .suffix_3 {
  padding-right: 180px;
}

.container_16 .suffix_5 {
  padding-right: 300px;
}

.container_16 .suffix_6 {
  padding-right: 360px;
}

.container_16 .suffix_7 {
  padding-right: 420px;
}

.container_16 .suffix_9 {
  padding-right: 540px;
}

.container_16 .suffix_10 {
  padding-right: 600px;
}

.container_16 .suffix_11 {
  padding-right: 660px;
}

.container_16 .suffix_13 {
  padding-right: 780px;
}

.container_16 .suffix_14 {
  padding-right: 840px;
}

.container_16 .suffix_15 {
  padding-right: 900px;
}

/* `Push Space >> Global
----------------------------------------------------------------------------------------------------*/

.container_12 .push_3,
.container_16 .push_4 {
  left: 240px;
}

.container_12 .push_6,
.container_16 .push_8 {
  left: 480px;
}

.container_12 .push_9,
.container_16 .push_12 {
  left: 720px;
}

/* `Push Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .push_1 {
  left: 80px;
}

.container_12 .push_2 {
  left: 160px;
}

.container_12 .push_4 {
  left: 320px;
}

.container_12 .push_5 {
  left: 400px;
}

.container_12 .push_7 {
  left: 560px;
}

.container_12 .push_8 {
  left: 640px;
}

.container_12 .push_10 {
  left: 800px;
}

.container_12 .push_11 {
  left: 880px;
}

/* `Push Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .push_1 {
  left: 60px;
}

.container_16 .push_2 {
  left: 120px;
}

.container_16 .push_3 {
  left: 180px;
}

.container_16 .push_5 {
  left: 300px;
}

.container_16 .push_6 {
  left: 360px;
}

.container_16 .push_7 {
  left: 420px;
}

.container_16 .push_9 {
  left: 540px;
}

.container_16 .push_10 {
  left: 600px;
}

.container_16 .push_11 {
  left: 660px;
}

.container_16 .push_13 {
  left: 780px;
}

.container_16 .push_14 {
  left: 840px;
}

.container_16 .push_15 {
  left: 900px;
}

/* `Pull Space >> Global
----------------------------------------------------------------------------------------------------*/

.container_12 .pull_3,
.container_16 .pull_4 {
  left: -240px;
}

.container_12 .pull_6,
.container_16 .pull_8 {
  left: -480px;
}

.container_12 .pull_9,
.container_16 .pull_12 {
  left: -720px;
}

/* `Pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .pull_1 {
  left: -80px;
}

.container_12 .pull_2 {
  left: -160px;
}

.container_12 .pull_4 {
  left: -320px;
}

.container_12 .pull_5 {
  left: -400px;
}

.container_12 .pull_7 {
  left: -560px;
}

.container_12 .pull_8 {
  left: -640px;
}

.container_12 .pull_10 {
  left: -800px;
}

.container_12 .pull_11 {
  left: -880px;
}

/* `Pull Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .pull_1 {
  left: -60px;
}

.container_16 .pull_2 {
  left: -120px;
}

.container_16 .pull_3 {
  left: -180px;
}

.container_16 .pull_5 {
  left: -300px;
}

.container_16 .pull_6 {
  left: -360px;
}

.container_16 .pull_7 {
  left: -420px;
}

.container_16 .pull_9 {
  left: -540px;
}

.container_16 .pull_10 {
  left: -600px;
}

.container_16 .pull_11 {
  left: -660px;
}

.container_16 .pull_13 {
  left: -780px;
}

.container_16 .pull_14 {
  left: -840px;
}

.container_16 .pull_15 {
  left: -900px;
}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after,
.container_12:before,
.container_12:after,
.container_16:before,
.container_16:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.clearfix:after,
.container_12:after,
.container_16:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
  */

  .clearfix,
  .container_12,
  .container_16 {
    zoom: 1;
  }

/* `XHTML, HTML4, HTML5 Reset
----------------------------------------------------------------------------------------------------*/

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

html,
body {
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
/*
  Override the default (display: inline) for
  browsers that do not recognize HTML5 tags.

  IE8 (and lower) requires a shiv:
  http://ejohn.org/blog/html5-shiv
  */
  display: block;
}

b,
strong {
/*
  Makes browsers agree.
  IE + Opera = font-weight: bold.
  Gecko + WebKit = font-weight: bolder.
  */
  font-weight: bold;
}

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
/*
  For IE.
  http://css-tricks.com/ie-fix-bicubic-scaling-for-images
  */
  -ms-interpolation-mode: bicubic;
}

ol,
ul {
  list-style: none;
}

li {
/*
  For IE6 + IE7:

  "display: list-item" keeps bullets from
  disappearing if hasLayout is triggered.
  */
  display: list-item;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

sub,
sup,
small {
  font-size: 75%;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg {
/*
  For IE9. Without, occasionally draws shapes
  outside the boundaries of <svg> rectangle.
  */
  overflow: hidden;
}

/*
  960 Grid System ~ Core CSS.
  Learn more ~ http://960.gs/

  Licensed under GPL and MIT.
  */

/*
  Forces backgrounds to span full width,
  even if there is horizontal scrolling.
  Increase this if your layout is wider.

  Note: IE6 works fine without this fix.
  */

  body {
    min-width: 960px;
  }

/* `Container
----------------------------------------------------------------------------------------------------*/

.container_12,
.container_16 {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

/* `Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11,
.push_12, .pull_12,
.push_13, .pull_13,
.push_14, .pull_14,
.push_15, .pull_15 {
  position: relative;
}

.container_12 .grid_3,
.container_16 .grid_4 {
  width: 220px;
}

.container_12 .grid_6,
.container_16 .grid_8 {
  width: 460px;
}

.container_12 .grid_9,
.container_16 .grid_12 {
  width: 700px;
}

.container_12 .grid_12,
.container_16 .grid_16 {
  width: 940px;
}

/* `Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

/* `Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .grid_1 {
  width: 60px;
}

.container_12 .grid_2 {
  width: 140px;
}

.container_12 .grid_4 {
  width: 300px;
}

.container_12 .grid_5 {
  width: 380px;
}

.container_12 .grid_7 {
  width: 540px;
}

.container_12 .grid_8 {
  width: 620px;
}

.container_12 .grid_10 {
  width: 780px;
}

.container_12 .grid_11 {
  width: 860px;
}

/* `Grid >> 16 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .grid_1 {
  width: 40px;
}

.container_16 .grid_2 {
  width: 100px;
}

.container_16 .grid_3 {
  width: 160px;
}

.container_16 .grid_5 {
  width: 280px;
}

.container_16 .grid_6 {
  width: 340px;
}

.container_16 .grid_7 {
  width: 400px;
}

.container_16 .grid_9 {
  width: 520px;
}

.container_16 .grid_10 {
  width: 580px;
}

.container_16 .grid_11 {
  width: 640px;
}

.container_16 .grid_13 {
  width: 760px;
}

.container_16 .grid_14 {
  width: 820px;
}

.container_16 .grid_15 {
  width: 880px;
}

/* `Prefix Extra Space >> Global
----------------------------------------------------------------------------------------------------*/

.container_12 .prefix_3,
.container_16 .prefix_4 {
  padding-left: 240px;
}

.container_12 .prefix_6,
.container_16 .prefix_8 {
  padding-left: 480px;
}

.container_12 .prefix_9,
.container_16 .prefix_12 {
  padding-left: 720px;
}

/* `Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .prefix_1 {
  padding-left: 80px;
}

.container_12 .prefix_2 {
  padding-left: 160px;
}

.container_12 .prefix_4 {
  padding-left: 320px;
}

.container_12 .prefix_5 {
  padding-left: 400px;
}

.container_12 .prefix_7 {
  padding-left: 560px;
}

.container_12 .prefix_8 {
  padding-left: 640px;
}

.container_12 .prefix_10 {
  padding-left: 800px;
}

.container_12 .prefix_11 {
  padding-left: 880px;
}

/* `Prefix Extra Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .prefix_1 {
  padding-left: 60px;
}

.container_16 .prefix_2 {
  padding-left: 120px;
}

.container_16 .prefix_3 {
  padding-left: 180px;
}

.container_16 .prefix_5 {
  padding-left: 300px;
}

.container_16 .prefix_6 {
  padding-left: 360px;
}

.container_16 .prefix_7 {
  padding-left: 420px;
}

.container_16 .prefix_9 {
  padding-left: 540px;
}

.container_16 .prefix_10 {
  padding-left: 600px;
}

.container_16 .prefix_11 {
  padding-left: 660px;
}

.container_16 .prefix_13 {
  padding-left: 780px;
}

.container_16 .prefix_14 {
  padding-left: 840px;
}

.container_16 .prefix_15 {
  padding-left: 900px;
}

/* `Suffix Extra Space >> Global
----------------------------------------------------------------------------------------------------*/

.container_12 .suffix_3,
.container_16 .suffix_4 {
  padding-right: 240px;
}

.container_12 .suffix_6,
.container_16 .suffix_8 {
  padding-right: 480px;
}

.container_12 .suffix_9,
.container_16 .suffix_12 {
  padding-right: 720px;
}

/* `Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .suffix_1 {
  padding-right: 80px;
}

.container_12 .suffix_2 {
  padding-right: 160px;
}

.container_12 .suffix_4 {
  padding-right: 320px;
}

.container_12 .suffix_5 {
  padding-right: 400px;
}

.container_12 .suffix_7 {
  padding-right: 560px;
}

.container_12 .suffix_8 {
  padding-right: 640px;
}

.container_12 .suffix_10 {
  padding-right: 800px;
}

.container_12 .suffix_11 {
  padding-right: 880px;
}

/* `Suffix Extra Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .suffix_1 {
  padding-right: 60px;
}

.container_16 .suffix_2 {
  padding-right: 120px;
}

.container_16 .suffix_3 {
  padding-right: 180px;
}

.container_16 .suffix_5 {
  padding-right: 300px;
}

.container_16 .suffix_6 {
  padding-right: 360px;
}

.container_16 .suffix_7 {
  padding-right: 420px;
}

.container_16 .suffix_9 {
  padding-right: 540px;
}

.container_16 .suffix_10 {
  padding-right: 600px;
}

.container_16 .suffix_11 {
  padding-right: 660px;
}

.container_16 .suffix_13 {
  padding-right: 780px;
}

.container_16 .suffix_14 {
  padding-right: 840px;
}

.container_16 .suffix_15 {
  padding-right: 900px;
}

/* `Push Space >> Global
----------------------------------------------------------------------------------------------------*/

.container_12 .push_3,
.container_16 .push_4 {
  left: 240px;
}

.container_12 .push_6,
.container_16 .push_8 {
  left: 480px;
}

.container_12 .push_9,
.container_16 .push_12 {
  left: 720px;
}

/* `Push Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .push_1 {
  left: 80px;
}

.container_12 .push_2 {
  left: 160px;
}

.container_12 .push_4 {
  left: 320px;
}

.container_12 .push_5 {
  left: 400px;
}

.container_12 .push_7 {
  left: 560px;
}

.container_12 .push_8 {
  left: 640px;
}

.container_12 .push_10 {
  left: 800px;
}

.container_12 .push_11 {
  left: 880px;
}

/* `Push Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .push_1 {
  left: 60px;
}

.container_16 .push_2 {
  left: 120px;
}

.container_16 .push_3 {
  left: 180px;
}

.container_16 .push_5 {
  left: 300px;
}

.container_16 .push_6 {
  left: 360px;
}

.container_16 .push_7 {
  left: 420px;
}

.container_16 .push_9 {
  left: 540px;
}

.container_16 .push_10 {
  left: 600px;
}

.container_16 .push_11 {
  left: 660px;
}

.container_16 .push_13 {
  left: 780px;
}

.container_16 .push_14 {
  left: 840px;
}

.container_16 .push_15 {
  left: 900px;
}

/* `Pull Space >> Global
----------------------------------------------------------------------------------------------------*/

.container_12 .pull_3,
.container_16 .pull_4 {
  left: -240px;
}

.container_12 .pull_6,
.container_16 .pull_8 {
  left: -480px;
}

.container_12 .pull_9,
.container_16 .pull_12 {
  left: -720px;
}

/* `Pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .pull_1 {
  left: -80px;
}

.container_12 .pull_2 {
  left: -160px;
}

.container_12 .pull_4 {
  left: -320px;
}

.container_12 .pull_5 {
  left: -400px;
}

.container_12 .pull_7 {
  left: -560px;
}

.container_12 .pull_8 {
  left: -640px;
}

.container_12 .pull_10 {
  left: -800px;
}

.container_12 .pull_11 {
  left: -880px;
}

/* `Pull Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .pull_1 {
  left: -60px;
}

.container_16 .pull_2 {
  left: -120px;
}

.container_16 .pull_3 {
  left: -180px;
}

.container_16 .pull_5 {
  left: -300px;
}

.container_16 .pull_6 {
  left: -360px;
}

.container_16 .pull_7 {
  left: -420px;
}

.container_16 .pull_9 {
  left: -540px;
}

.container_16 .pull_10 {
  left: -600px;
}

.container_16 .pull_11 {
  left: -660px;
}

.container_16 .pull_13 {
  left: -780px;
}

.container_16 .pull_14 {
  left: -840px;
}

.container_16 .pull_15 {
  left: -900px;
}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after,
.container_12:before,
.container_12:after,
.container_16:before,
.container_16:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.clearfix:after,
.container_12:after,
.container_16:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
  */

  .clearfix,
  .container_12,
  .container_16 {
    zoom: 1;
  }

  /*FONT FACE*/
  @font-face {
    font-family: '20_cents_markerbold';
    src: url('fontes/20_cents_marker-webfont.eot');
    src: url('fontes/20_cents_marker-webfont.eot?#iefix') format('embedded-opentype'),
    url('fontes/20_cents_marker-webfont.woff') format('woff'),
    url('fontes/20_cents_marker-webfont.ttf') format('truetype'),
    url('fontes/20_cents_marker-webfont.svg#20_cents_markerbold') format('svg');
    font-weight: normal;
    font-style: normal;

  }

  /*FONT FACE*/
  @font-face {
    font-family: 'Quicksand-Regular';
    src: url('fontes/quicksand/Quicksand-Regular.otf');
    src: url('fontes/quicksand/Quicksand-Regular.otf?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }


  /*FONT FACE*/
  @font-face {
    font-family: 'Aaargh';
    src: url('fontes/Aaargh.ttf');
    font-weight: normal;
    font-style: normal;

  }

  @font-face {
    font-family: 'bern_sans_ctregular';
    src: url('fontes/bernsansct-regular-webfont.eot');
    src: url('fontes/bernsansct-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fontes/bernsansct-regular-webfont.svg#bern_sans_ctregular') format('svg'),
    url('fontes/bernsansct-regular-webfont.woff') format('woff'),
    url('fontes/bernsansct-regular-webfont.ttf') format('truetype');
    ;
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Swis721CnBTBold';
    src: url('fontes/swz721bc-webfont.eot');
    src: url('fontes/swz721bc-webfont.eot?#iefix') format('embedded-opentype'),
    url('fontes/swz721bc-webfont.woff') format('woff'),
    url('fontes/swz721bc-webfont.ttf') format('truetype'),
    url('fontes/swz721bc-webfont.svg#Swis721CnBTBold') format('svg');
    font-weight: lighter;
    font-style: normal;
  }

  @font-face {
    font-family: 'Swis721CnBTRoman';
    src: url('fontes/swz721c-webfont.eot');
    src: url('fontes/swz721c-webfont.eot?#iefix') format('embedded-opentype'),
    url('fontes/swz721c-webfont.woff') format('woff'),
    url('fontes/swz721c-webfont.ttf') format('truetype'),
    url('fontes/swz721c-webfont.svg#Swis721CnBTRoman') format('svg');
    font-weight: lighter;
    font-style: normal;
  }

  /*********************/
  /**** PADRÕES *******/
  /*******************/
 ul.listagemPadrao li {
    margin: 5px;
    float: left;
    padding-top: 30px;
 }

 ul.listagemPadrao li a img:hover{
    opacity: 0.8;
 }


  a:link{
    text-decoration: none;
  }

  .labelPadrao {
    font-size: 11px;
  }

  .labelPadrao a {
    color: #333;
  }

  .checkboxPadrao {
    width: 15px !important;
    height: 15px !important;
    float: left;
  }

  .comentario {
    margin-left: 20px;
  }

  .borderRadius1{
    -webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
  }

  .borderRadius2{
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
  }

  .borderRadius3{
    -webkit-border-radius: 0px 17px 17px 0px;
    -moz-border-radius: 0px 17px 17px 0px;
    border-radius: 0px 17px 17px 0px;
  }


  /*UP*/
  .upPost, .upPost a{
    color: #929292;
    font-size: 13px;
    margin-left: 2px;
  }

  .upPost .active{
    font-weight: bold;
  }



  .info{
    color: #fff;
    font-family: 'bern_sans_ctregular';
    font-size: 14px;
    text-shadow: 0px 0px 1px #d61f27,
    0px 0px 1px #d61f27,
    0px 0px 1px #d61f27,
    0px 0px 1px #d61f27;
  }

  .infos{
    left: 50%;
    position: absolute;
    margin-left: -65px;
  }

  .infos .info{
    font-size: 25px;
  }


  .comentarios1{
    color: #929292;
    margin-top: 20px;
    margin-left: 5px;
  }

  .userName{
    color: #d61f27;
    top: -12px;
    position: relative;
    font-weight: bold;
  }

  .textoComentario{
    color: #242424;
    font-size: 13px;
    margin-left: 62px;
    margin-top: -33px;
    margin-bottom: 0px;
  }

  span .dataAtualizacao{
    left: -312px;
    position: relative;
    top: 10px;
    font-size: 13px;
    color: #ccc;
  }


  .posFix {
    position:fixed;
    width:100%;
    z-index:99;
    top:0px;
    left:0px;
  }

  .none{
    display: none;
  }

  big a {
    color: #BD6565;
  }

  body {
    font-family: 'Quicksand-Regular', Arial, sans-serif;
    background: #E4E4E4;
    color: #333;
    overflow-x: hidden;
  }


  .font, .font input, .font textarea {
    font-family: 'Swis721CnBTBold', Arial, sans-serif;
    text-transform:uppercase;
  }
  

  .spacer90 {
    height: 90px;
  }

  .conteudo {
    background: #fff;
    padding: 5px;
    padding-bottom: 20px;
    margin-top:15px;
  }

  .relative {
    position: relative;
  }

  .absolute {
    position: absolute;
  }

  .block {
    display: block;
  }

  .none {
    display: none;
  }

  .opacity1 {
    opacity: 1.0;
  }

  .botoes span a {
    color: #fff;
  }

  .botoes, .formComentario {
    margin-top: 8px;
    margin-left: -15px;
  }

  .botoes .btUp, .btPadrao {
    background: #BD6565;
    padding: 5px;
    color: #fff;
    font-weight: bold;
    opacity: 0.6;
    font-family: 'Swis721CnBTRoman';
  }

  .btPadrao {
    opacity: 1.0;
  }

  .botoes .btUp:hover {
    opacity: 1.0;
  }

  .btMais {
    background: #BD6565;
    padding: 5px;
  }

  .btMais a {
    color: #fff;
  }


  .borderRadius1 {
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
  }

  .borderRadius2, .borderRadius3 {
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
  }

  .borderBottom {
    border-bottom: 1px solid #ccc;
  }

  .logo {
    font-family: '20_cents_markerbold';
    padding: 10px;
    color: #fff;
  }

  .logo h1 {
    margin-left: -20px;
  }

  .areaBusca {
    margin: 10px 0px 0px 5px;
  }

  .formPadrao textarea{
    resize: none;
  }

  .formPadrao .input100, .input70, .input50, .input30 {
    padding: 5px;
    font-family: 'Swis721CnBTRoman';
    display: block;
    margin-top: 10px;
  }

  .formPadrao .input100 {
    width: 100%;
  }

  .formPadrao .input70 {
    width: 70%;
  }

  .formPadrao .input50 {
    width: 50%;
  }

  .formPadrao .input30 {
    width: 30%;
  }

  .formPadrao .btPublicar {
    border: 1px solid #BD6565;
    background: #fff;
    padding: 6px;
    width: 100px;
    cursor: pointer;
    float: left;
    font-family: 'Swis721CnBTRoman';
    font-weight: bold;
    color: #BD6565;
    margin-top: -4px;
    margin-left: 7px;
  }

  .formPadrao .inputPadrao, .textAreaPadrao {
    font-family: 'Swis721CnBTRoman';
    border: none;
    padding: 6px;
    width: 100%;
  }

  .fotoPerfil {
    padding: 1px;
  }

  .nomeUsuario {
    top: 55px;
    display: block;
    font-size: 11px;
    font-weight: bold;
  }

  .nomeUsuario a {
    color: #BD6565;
    font-family: 'Swis721CnBTRoman';
  }

  .opcoesUsuario {
    border: 1px solid #BD6565;
    right: 22%;
    top: 100%;
    height: auto;
    position: absolute;
    padding: 5px;
    font-size: 14px;
  }

  .opcoesUsuario ul {
    margin-left: 20px;
  }

  .opcoesUsuario ul a {
    color: #474444;
  }

  .opcoesUsuario ul li {
    padding: 5px;
  }

  .opcoesUsuario ul li:hover {
    color: #000;
    font-weight: bold;
  }

  .formComentario .textAreaPadrao {
    margin: 10px 0px;
    border: 1px solid #ccc;
    width: 390px;
    resize: none;
    outline: none;
  }


  .comentarios {
    padding: 5px;
  }



  .comentarios div {
    position: relative;
    margin: 0px 0px 20px -10px;
    color: #333;
    padding-bottom: 10px;
  }

  .comentarios .fotoPerfil {
    float: left;
  }

  .comentarios .texto {
    float: right;
    width: 90%;
    font-size: 14px;
    margin: 0px -25px 5px 12px;
    color: #333;
    width: 340px;
  }


  /**************/
  /**** TOPO ***/
  /************/
  .topo {
    background: #BD6565;
  }

  .topo .fotoPerfil {
    margin-left: 3px;
  }

  .topo .fotoPerfil img {
    position: relative;
    float: right;
    margin-right: -16px;
  }


  .conteudo {
  }

  .conteudo .novaPublicacao .formPadrao textarea{
    width: 100%;
    margin-left: -7px;
    padding: 10px;
  }

  .conteudo .novaPublicacao .formPadrao textarea:focus{
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .conteudo .novaPublicacao .formPadrao .botoes .btPadrao{
    margin-left: 10px;
    padding: 6px;
    font-size: 14px;
  }

  .conteudo .timeLine {
    margin-top: 20px;
    padding-right: 5px;
    overflow: hidden;
    padding: 2px 30px;
    border-right: 2px solid #ccc;
    float: left;
    height: 500px;
    position: relative;
  }

  .conteudo .timeLine .btMais {
    position: relative;
    float: right;
    margin-top: -25px;
    font-family: 'Swis721CnBTRoman';
  }

  .conteudo .timeLine.timeLineComentarios {
    float: left;
    margin-left: -7px;
    border-right: none;
    position: absolute;
  }

  .timeLineComentarios .detalhePublicao {
    background: #fff;
    opacity: 1;
  }

  .conteudo .timeLine .publicacao {
    height: 500px;
    position: relative;
    width: 100%;
  }

  .conteudo .timeLine .publicacao .comentarios {
    margin-left: -15px;
  }

  .conteudo .timeLine .publicacao .nomeUsuario {
    position: relative;
    top: 0px;
    left: -17px;
  }

  .conteudo .timeLine .publicacao img{
    margin-left: -20px;
  }

  .conteudo .timeLine .publicacao .fotoPerfil {
    margin-left: -9px;
    width: 50px;
  }

  .conteudo .timeLine .publicacao .fotoPerfil span {
    margin-left: -20px;
  }

  .conteudo .timeLine .publicacao .texto {
    margin-left: -20px;
    margin-top: 0px;
    color: #333;
    padding: 5px;
    font-size: 13px;
    width: 80%;
    text-align: justify;
    float: left;
  }

  .conteudo .timeLine .publicacao .detalhePublicao {
    background: #000;
    display: block;
    width: 100%;
    opacity: 0.5;

  }


  .conteudo .timeLine .acoes {

  }

  .conteudo .timeLine .acoes {

  }



  /******************/
  /***** PAGINA DE LOGIN *****/
  /****************/
  .login {
    overflow: hidden;
    background: #fff;
  }

  .login .conteudo {
    position: relative;
    float: right;
    width: 40%;
  }

  .direitos {
    margin-top: 100px;
    color: #ccc;
    font-size: 13px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -200px;
  }

  .rodape {
    background: #fff;
    position: relative;
  }

  .rodape .direitos {
    overflow: hidden;
    padding-bottom: 20px;
  }


  .pagLogin {
    background: #fff;
    width: 100%;
  }

  .pagLogin .conteudo {
    left: 62%;
    width: 38%;
    margin-left: -30px;
    margin-top: 0;
    height: 100%;
    position: absolute;
  }

  .pagLogin .conteudo .form {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 50%;
    margin-left: -245px;
  }

  .pagLogin .conteudo .logo {
    color: #BD6565;
    position: absolute;
    left: 50%;
    margin-left: -115px;
    font-size: 20px;
  }

  .pagLogin .conteudo .form .formLogin input {
    padding: 5px;
    width: 200px;
    font-family: "Swis721CnBTRoman";
    height: 30px;
    font-size: 14px;
  }

  .pagLogin .conteudo .form .formLogin .btPadrao {
    border: none;
    height: 45px;
    width: 70px;
    cursor: pointer;
  }

 .pagLogin .conteudo .form .cadastro {
    position: relative;
 }


  .pagLogin .conteudo .form .cadastro big {
    top: 50%;
    margin-top: 100px;
    display: block;
    position: relative;
    left: 50%;
    margin-left: -70px;
  }


  .pagLogin  ul {
    width: 60%;
    float: left;
  }

  .pagLogin ul li {
    margin: 1px;
    float: left;
    opacity: 0.5;
  }

  .pagLogin ul li:hover {
    opacity: 1;
  }


  /*****************/
  /*** CADASTRO ***/
  /***************/
  .conteudo.cadastro .form .formPadrao input {
    margin-top: 5px;
  }

  .conteudo.cadastro .form .formCadastro {
    margin-top: -75px;
    margin-left: 40px;
  }

  .conteudo.cadastro .form .formCadastro .btPadrao {
    margin-top: 10px;
    margin-left: -19px;
    width: 84%;
  }

  .conteudo.cadastro .form .formCadastro .checkboxPadrao {
    margin-top: 10px;
    margin-left: 0px;
  }

  .conteudo.cadastro .form .formCadastro .labelPadrao {
    margin-top: 11px !important;
    display: inline-block;
    margin-left: 5px;
  }

  .conteudo.cadastro .form .formCadastro .labelPadrao a:hover{
    color: #BD6565;
  }

/******************/
/* TERMOS DE USO */
/****************/

.termos {

}

.termos .conteudo {
    margin-top: 0px;
}

.termos .conteudo h1 {
    font-family: 'Swis721CnBTRoman';
    margin-top: 20px;
    margin-left: 10px;
    font-size: 20px;
}

.termos .conteudo .descricaoTermos {
    margin-left: 20px;
    margin-top: 20px;
    padding-top: 10px;
}

.termos .conteudo .descricaoTermos div {
    margin-top: 10px;
}

.termos .conteudo .descricaoTermos div big {
    font-size: 14px;
    font-weight: bold;
}

.termos .conteudo .descricaoTermos div p {
    font-size: 13px; 
    margin-top: 10px;
    margin-left: 10px;
}


/**********************/
/* Gerenciar coleão **/
/********************/
.topoGerenciar.conteudo {
    margin-top: 0px;
    background: url("../imagens/image33.jpg") center center no-repeat ;
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 400px;
}   


.topoGerenciar .usuarioArea {
    width: 100%;
    display: block;
}

.topoGerenciar .usuarioArea .fotoPerfil {
    position: relative;
    left: 50%;
    margin-left: -230px;
    top: 100px;
}

.topoGerenciar .usuarioArea .fotoPerfil a img {
    position: relative;
    left: 50%;
    margin-left: -30px;
}

.topoGerenciar .usuarioArea .fotoPerfil a img:hover {
    opacity: 0.9;
}

.topoGerenciar .usuarioArea .infoUsuario { 
    position: relative;
    top: 280px;
    left: 50%;
    margin-left: -260px;
    color: #fff;;
}

.topoGerenciar .usuarioArea .infoUsuario big { 
    position: relative;
    left: 50%;
    margin-left: -50px;
    font-size: 20px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: "Swis721CnBTRoman";
    font-weight: bold;
}

.topoGerenciar .usuarioArea .infoUsuario p { 
    margin-top: 10px;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: bold;
}

.gerenciarColecao.conteudo {
    margin-top: 0px;
}

.gerenciarColecao .listagemColecao big {
    margin-top: 20px !important;
    margin-left: 10px;
    display: block;
}